.icode__grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    'html'
    'css'
    'js'
    'output';
}

.icode__html {
  grid-area: html;
}

.icode__css {
  grid-area: css;
}

.icode__js {
  grid-area: js;
}

.icode__output {
  grid-area: output;
}

@media only screen and (min-width: 512px) {
  .icode__grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'html css js'
      'output output output';
  }
}
