@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.font-montserrat {
  font-family: 'Montserrat';
}

.font-special-elite {
  font-family: 'Special Elite';
}

.font-14 {
  font-size: 14px;
}
