@import './css/_fonts.css';
@import './css/_colors.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box !important;
}

.slider-mouseover[role='presentation'] {
  display: none;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}
